body {
	background-color: BurlyWood;
}
h1 {
	display: flex;
	justify-content: center;
	color: Chocolate;
}
div {
	display: flex;
	justify-content: center;
	color: Chocolate;
}
p {
	font-size: 20px;
}
